/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

#sidebar {
  width: 80px;
  height: 100vh;
  padding-left: 20px;
  padding-top: 20px;
  position: fixed;
}

#content {
  max-height: 100vh;
  height: 100vh;
  width: calc(100% - 80px);
  position: absolute;
  left: 80px;
}
